<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    {% if image == "no" %}
        <title>Add Resource</title>
    {% else %}
        <title>Add Image Resource</title>
    {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="/js/jquery.min.js"></script>  
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>

</head>
<body>
 <nav class="navbar navbar-right">
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/'>HOME</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
        {% if image == "no" %}
            <h1>Add Resource</h1>
        {% else %}
            <h1>Add Image Resource</h1>
            <h2><span class="label label-info">Please select images less than 1MB</span></h2>
        {% endif %}
    </div>
<div class="container">
    {% if image == "no" %}
        <form class="form-horizontal" id = "addResourceForm" role="form" action="/add" method="post">
    {% else %}
        <form class="form-horizontal" id = "addResourceImageForm" role="form" action="/add" method="post" enctype="multipart/form-data">
    {% endif %}
    <input type = "hidden" id = "isImage" name = "isImage" value = "{{image}}">
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">NAME OF THE RESOURCE</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="nameInput" name = "nameInput" value="{{ resourceName }}" placeholder="Enter the name of the resource" required>
      </div>
    </div>
    {% if image == "yes" %}
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">DESCRIPTION</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="descInput" name = "descInput" value="{{ description }}" placeholder="Enter some description for the image" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">IMAGE LOCATION</label>
      <div class="col-sm-9">
        <input type="file" id="imageLocation" name = "imageLocation" value="{{ imageLocation }}" required/>
      </div>
    </div>
    {% endif %}
    <div class="form-group">
       <label class="control-label col-sm-3" for="availDate">AVAILABLE DATE</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="availDate" name="availDate" value = "{{ availDate }}" required>
      </div>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-3" for="start">AVAILABILITY START</label>
      <div class="col-sm-9">
        <input type="time" class="form-control" id="startInput" name="startInput" value = "{{ startTime }}" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="end">AVAILABILITY END</label>
      <div class="col-sm-9">
        <input type="time" class="form-control" id="endInput" name="endInput" value = "{{ endTime }}" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="end">CAPACITY</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="capacity" name="capacity" min = 1 value = "{{ capacity }}" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="tags">TAGS</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="tagsInput" name="tagsInput" value = "{{ tags }}" placeholder="restaurant, room">
      </div>
    </div>
    <div class="container" align = "center">
    {% if image == "no" %}
        <input class="btn btn-lg btn-primary submit-button" id="addresource" style="width: 25%;" value="ADD" type="submit" disabled>
    {% else %}
        <input class="btn btn-lg btn-primary submit-button" id="addresource" style="width: 25%;" value="ADD IMAGE RESOURCE" type="submit" disabled>
    {% endif %}
    </div>
    
    {% if error %}
    <div class="container" align="center" id = "errorDiv">
        <h1><span class="label label-danger">{{error}}</span></h1>
    </div>
    {% endif %}
  </form>
</div>
<script>
    var today = new Date();
    var month = today.getMonth()+1;
    var stringDate = today.getFullYear()+"-"+month+"-"+today.getDate();
    document.getElementById("availDate").min = stringDate.valueOf();
</script>
</body>        
</html>
{% endautoescape %}
