<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Reservation System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% if userPage == "yes" %}
        <h1>Details for user {{user}}</h1>
    {% else %}
        <h1>Hi, {{user}}</h1>
    {% endif %}
    
    <div class="container">
    <h2>{{user}}'s reservations:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-xs-4">Resource Name</th>
                <th class="col-xs-4">Start Time</th>
                <th class="col-xs-4">Duration(minutes)</th>
            </tr>
        </thead>
        {% if reservations %}
        {% for r in reservations %}
        <tbody>
            <tr>
                <td><a href="/resource?val={{r.resourceId}}">{{r.resourceName}}</a></td>
                <td>{{r.strignStart}}</td>
                <td>{{r.duration}}</td>
            </tr>
        </tbody>
        {% endfor %}
      {% endif %}
    </table>
    </div>
    {% if userPage == "no" %}
        <div class="container">
        <h2>The following resources exist in the system:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-xs-4">Resource Name</th>
                    <th class="col-xs-4">Availability</th>
                    <th class="col-xs-4">Tags</th>
                </tr>
            </thead>
            {% if resources %}
            {% for r in resources %}
            <tbody>
                <tr>
                    <td><a href="/resource?val={{r.id}}">{{r.name}}</a> <a href="rssfeed?val={{r.id}}"><img src = "/img/icon-rss.gif"></a></td>
                    <td>{{r.dateString}}, {{r.startString}} - {{r.endString}}</td>
                    <td>
                        {% for t in r.tags %}
                            <a href="/tag?val={{t}}">{{t}}</a>
                        {%endfor%}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
          {% endif %}
        </table>
        </div>  
    {% endif %}
    
    <div class="container">
    <h2>{{user}}'s resources:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-xs-4">Resource Name</th>
                <th class="col-xs-4">Availability</th>
                <th class="col-xs-4">Tags</th>
            </tr>
        </thead>
        {% if userresources %}
        {% for r in userresources %}
        <tbody>
            <tr>
                <td><a href="/resource?val={{r.id}}">{{r.name}}</a> <a href="rssfeed?val={{r.id}}"><img src = "/img/icon-rss.gif"></a></td>
                <td>{{r.dateString}}, {{r.startString}} - {{r.endString}}</td>
                <td>
                    {% for t in r.tags %}
                        <a href="/tag?val={{t}}">{{t}}</a>
                    {%endfor%}
                </td>
            </tr>
        </tbody>
        {% endfor %}
      {% endif %}
    </table>
    </div>
    
    {% if userPage == "no" %}
        <div class="container">
        <form action="/add" method="get">
          <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add new resource</button>
          </div>
        </div>
        </form>
        </div>
        <a class="btn btn-primary" role="button" href="{{ url|safe }}">{{ url_linktext }}</a>
    {% endif %}
    
    {% if userPage == "yes" %}
        <a href = "/" id="link" name = "link"><button type="button" class="btn btn-link" style="width: 15%;">Home</button></a>
    {% endif %}
  </body>
</html>
{% endautoescape %}