<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <title>Resource : {{resource.name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="/js/jquery.min.js"></script>  
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>

</head>
<body>
    <nav class="navbar navbar-right">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      {% if userPage == "no" %}
        <a class="navbar-brand" href="/add">Add resource</a>
      {% endif %}
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/'>HOME</a></li>
        <li><a href = "/editResource?val={{resource.id}}" id="editResource" name = "editResource">EDIT</a></li>
        <li><a href = "/addReservation?val={{resource.id}}" id="link" name = "link">RESERVE</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
        <h1>Resource : {{resource.name}}</h1>
        <p>Total number of reservations(including past ones): {{resource.count}}</p>
</div>
<div class="container">
  <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-xs-3">Reservor</th>
                <th class="col-xs-3">Start Time</th>
                <th class="col-xs-3">Duration</th>
                <th class="col-xs-3">Action</th>
            </tr>
        </thead>
        {% if reservations %}
        {% for r in reservations %}
        <tbody>
            <tr>
                <td><a href = "/ownerInfo?val={{r.owner}}">{{r.owner}}</a></td>
                <td>{{r.date}}, {{r.strignStart}}</td>
                <td>{{r.duration}}</td>
                <td>
                    {% if r.owner == currUser %}
                        <form class="form-horizontal" id = "deleteResource" role="form" action="/deleteReservation?val={{r.uid}}" method="post">
                            <input type="hidden" value = "{{resource.id}}" id = "resourceId" name = "resourceId">
                            <input class="btn btn-default btn-xs" id="deleteReservation" value="Delete" type="submit">
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
      {% endif %}
    </table>
 
</div>
<div class="container" align = "center" id = "editDiv" name ="editDiv">
<input type = "hidden" id = "owner" name = "owner" value = "{{ owner }}">
<input type = "hidden" id = "currUser" name = "currUser" value = "{{ currUser }}">
</div>


</div>

<script>
    $(document).ready(function() {
    var owner=$('#owner').val();
    var currentUser = $("#currUser").val();
    
    if(owner === currentUser){
        $('#editResource').show();
    }else{
         $('#editResource').hide();
    }  
});

</script>
</body>        
</html>
{% endautoescape %}
